PATH=/usr/local/bin:/usr/bin:/bin

RAILS_ENV=production

RAILS_DB_NAME={{ db_name  }}
RAILS_DB_USER={{ db_user }}
RAILS_DB_PASSWORD={{ db_password }}
RAILS_DB_HOST={{ mysql_host }}
RAILS_DB_PORT={{ mysql_port }}

